@{ 
    ViewData["Title"] = "The page title";
}
</br>
<div>Hello world</div>
<div>@ViewData["TestParam"]</div>
<div>@ViewData["TestParamQueryString1"]</div>
<div>@ViewData["TestParamQueryString2"]</div>
<div>@ViewData["TestParamQueryString3"]</div>